/**
 * 主题变量定义
 */

:root,
[data-theme='mauve'] {
  --tsuki-theme-gradient: radial-gradient(ellipse at 50% 60%, #fae8f2 0%, #f3edff 65%);
  --tsuki-theme-accent: #6d28d9;
  --tsuki-theme-secondary: #f3edff;
}
