/**
 * 主题变量定义
 */

:root,
[data-theme='mauve'] {
  --tsuki-theme-gradient: radial-gradient(circle, #ece4ff 12%, #e0c3fc 100%);
  --tsuki-theme-accent: #a78bfa;
  --tsuki-theme-secondary: #ece4ff;
  --tsuki-fg: #1f2937;
  --tsuki-color-on-primary: #ffffff;
}
